<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- URL Rewriting -->
        <rewrite>
            <rules>
                <!-- Redirect HTTP to HTTPS -->
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>

                <!-- Remove .html extension -->
                <rule name="Remove .html" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Static Content Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- Cache Control -->
        <staticContent>
            <!-- Images -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="5184000" />
            
            <!-- HTML -->
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="86400" />
        </staticContent>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>

        <!-- Request Filtering -->
        <security>
            <requestFiltering>
                <!-- Block access to sensitive files -->
                <fileExtensions>
                    <add fileExtension=".env" allowed="false" />
                    <add fileExtension=".lock" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
